@keyframes bannerAnim {
  0% {
    right: 0; }
  100% {
    right: -250%; } }

@keyframes buttonAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideshow {
  0% {
    left: 0; }
  10% {
    left: 0; }
  15% {
    left: -100%; }
  25% {
    left: -100%; }
  30% {
    left: -200%; }
  40% {
    left: -200%; }
  45% {
    left: -300%; }
  55% {
    left: -300%; }
  60% {
    left: -200%; }
  70% {
    left: -200%; }
  75% {
    left: -100%; }
  85% {
    left: -100%; }
  90% {
    left: 0; }
  100% {
    left: 0; } }

* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

.container {
  width: 100%;
  height: 100vh;
  background-color: #000; }

.banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden; }
  .banner::after {
    content: "";
    width: 250%;
    height: 100%;
    background: linear-gradient(to right, transparent, #000, #000);
    position: absolute;
    top: 0;
    right: 0;
    animation: bannerAnim 3s linear forwards; }
  .banner h1 {
    color: #91130f;
    font-family: "Ubuntu", sans-serif;
    font-size: 12rem;
    margin-bottom: 10rem;
    border-top: .5rem solid #91130f;
    border-bottom: .5rem solid #91130f; }
  .banner button {
    width: 23rem;
    padding: 1rem;
    background: linear-gradient(to right, #440402, #c0120c);
    font-family: "Dosis", sans-serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10rem;
    transform: perspective(50rem) rotateY(-15deg);
    text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: buttonAnim 1s 2.5s backwards;
    transition: all .5s;
    overflow: hidden; }
    .banner button:hover {
      transform: perspective(50rem) rotateY(15deg);
      text-shadow: -0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
      background: linear-gradient(to left, #440402, #c0120c); }
      .banner button:hover::before {
        left: 100%; }
    .banner button::before {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent, #fff, transparent);
      position: absolute;
      top: 0;
      left: -100%;
      transform: skewX(-30deg);
      transition: left .5s; }

.slideshow-wrapper {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s; }

.slideshow {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 24s infinite; }

.slide {
  width: 100%;
  height: 100vh; }
  .slide:nth-child(1) {
    background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url(../images/london.jpeg) center no-repeat;
    background-size: cover; }
  .slide:nth-child(2) {
    background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url(../images/new-york.jpeg) center no-repeat;
    background-size: cover; }
  .slide:nth-child(3) {
    background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url(../images/rome.jpg) center no-repeat;
    background-size: cover; }
  .slide:nth-child(4) {
    background: linear-gradient(100deg, #262626, rgba(38, 38, 38, 0.8), transparent), url(../images/tokyo.jpg) center no-repeat;
    background-size: cover; }
  .slide--content {
    width: 50rem;
    position: relative;
    top: 35%;
    left: 5%; }
    .slide--content h3 {
      font-family: "Oswald", sans-serif;
      font-size: 8rem;
      font-weight: 400;
      color: #fff; }
    .slide--content p {
      font-family: "Dosis", sans-serif;
      font-size: 2rem;
      color: #ccc; }
    .slide--content button {
      width: 13rem;
      padding: 1rem 1rem 0 0;
      margin-top: 3rem;
      background-color: transparent;
      border: none;
      outline: none;
      font-family: "Oswald", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: .1rem;
      color: #fff;
      border-bottom: .1rem solid #fff;
      cursor: pointer; }
    .slide--content i {
      margin-left: .8rem; }

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 8rem; } }

@media (max-width: 650px) {
  .banner h1 {
    font-size: 4rem; }
  .banner button {
    width: 18rem;
    padding: .7rem;
    font-size: 2rem; }
  .slide--content {
    width: 30rem; }
    .slide--content h3 {
      font-size: 3rem; }
    .slide--content p {
      font-size: 1.5rem; } }
