@import "_keyframes.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.slideshow-wrapper {
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.banner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;

    &::after {
        content: "";
        width: 250%;
        height: 100%;
        background: linear-gradient(to right, transparent, #000, #000);
        position: absolute;
        top: 0;
        right: 0;
        animation: bannerAnim 3s linear forwards;
    }

    h1 {
        color: #91130f;
        font-family: "Ubuntu", sans-serif;
        font-size: 12rem;
        margin-bottom: 10rem;
        border-top: .5rem solid #91130f;
        border-bottom: .5rem solid #91130f;
    }

    button {
        width: 23rem;
        padding: 1rem;
        background: linear-gradient(to right, #440402, #c0120c);
        font-family: "Dosis", sans-serif;
        font-size: 2.5rem;
        letter-spacing: .2rem;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 10rem;
        transform: perspective(50rem) rotateY(-15deg);
        text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, .4);
        cursor: pointer;
        animation: buttonAnim 1s 2.5s backwards;
    }
}