@import "_keyframes.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.container {
    width: 100%;
    height: 100vh;
}

.banner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    display: none;

    &::after {
        content: "";
        width: 250%;
        height: 100%;
        background: linear-gradient(to right, transparent, #000, #000);
        position: absolute;
        top: 0;
        right: 0;
        animation: bannerAnim 3s linear forwards;
    }

    h1 {
        color: #91130f;
        font-family: "Ubuntu", sans-serif;
        font-size: 12rem;
        margin-bottom: 10rem;
        border-top: .5rem solid #91130f;
        border-bottom: .5rem solid #91130f;
    }

    button {
        width: 23rem;
        padding: 1rem;
        background: linear-gradient(to right, #440402, #c0120c);
        font-family: "Dosis", sans-serif;
        font-size: 2.5rem;
        letter-spacing: .2rem;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 10rem;
        transform: perspective(50rem) rotateY(-15deg);
        text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, .4);
        cursor: pointer;
        animation: buttonAnim 1s 2.5s backwards;
        transition: all .5s;
        overflow: hidden;

        &:hover {
            transform: perspective(50rem) rotateY(15deg);
            text-shadow: -.6rem .3rem .2rem rgba(0, 0, 0, .4);
            background: linear-gradient(to left, #440402, #c0120c);

            &::before {
                left: 100%;
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent, #fff, transparent);
            position: absolute;
            top: 0;
            left: -100%;
            transform: skewX(-30deg);
            transition: left .5s;
        }
    }
}

.slideshow-wrapper {
    
}

.slide {
    width: 100%;
    height: 100vh;

    &:nth-child(1) {
        background: url(../images/london.jpeg) center no-repeat;
        background-size: cover;
    }

    &:nth-child(2) {
        background: url(../images/new-york.jpeg) center no-repeat;
        background-size: cover;
    }

    &:nth-child(3) {
        background: url(../images/rome.jpg) center no-repeat;
        background-size: cover;
    }

    &:nth-child(4) {
        background: url(../images/tokyo.jpg) center no-repeat;
        background-size: cover;
    }

    &--content {
        width: 50rem;
        position: relative;
        top: 35%;
        left: 5%;

        h3 {
            font-family: "Oswald", sans-serif;
            font-size: 8rem;
            font-weight: 400;
            color: #fff;
        }

        p {
            font-family: "Dosis", sans-serif;
            font-size: 2rem;
            color: #ccc;
        }

        button {
            width: 13rem;
            padding: 1rem 1rem 0 0;
            margin-top: 3rem;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: "Oswald", sans-serif;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: .1rem;
            color: #fff;
            border-bottom: .1rem solid #fff;
            cursor: pointer;
        }

        i {
            margin-left: .8rem;
        }
    }
}